/.vs
/.vscode
/AutoDbdFlexerEx/[O|o]bj/
/AutoDbdFlexerEx/[B|b]in/Debug
/AutoDbdFlexerEx/[B|b]in/[R|r]elease/AutoDbdFlexerEx.exe.config
/AutoDbdFlexerEx/[B|b]in/[R|r]elease/AutoDbdFlexerEx.pdb
/AutoDbdFlexerEx/[B|b]in/[R|r]elease/Newtonsoft.Json.xml
/AutoDbdFlexerEx/.vs
/Updater/[O|o]bj
/Updater/[B|b]in
/packages
*.user